**.png
**.log
**.pickle

rtapipe/notebooks/run_*/*
rtapipe/notebooks/lstm_models_*/**
temp/**
logs/**
__pycache__
notebook_output
notebook_dataset_generation_for_models_output
.ipynb_checkpoints
rtapipe/testing/output/**
**/dataset/data
*test_output
*egg-info
rtapipe_training_plots_*
ap_data_for_inspection_*
ap_data_for_training_and_testing_*
training_output_*
*/simulations/logs/*
*/simulations/conf/*
*/slurm_out/*
job_file.tmp
generate_ap_data.err
generate_ap_data.out
wandb
**/*heavy.log
**/*medium.log
**/*light.log
**/runid_*.csv
**/runid_*.fits
**/ebl*.csv
**/ebl*.fits
**/sim_output/**
**/slurm_out/**