temp/**
logs/**
__pycache__
notebook_output
notebook_dataset_generation_for_models_output
.ipynb_checkpoints
rtapipe/testing/output/**
**/dataset/data
*test_output
*egg-info
**.png
rtapipe_training_plots_*
ap_data_for_inspection_*
ap_data_for_training_and_testing_*
training_output